#-----------------server con start----------------
SERVER_HOST=172.252.13.197
SERVER_USER=root
SERVER_PASSWORD=your_server_root_password_here
SERVER_SSH_PORT=22
DOMAIN_NAME=
#-----------------server con end----------------


#-----------------app start----------------
API_BASE_URL=http://172.252.13.197:9777/api/v1
FLUTTER_API_BASE_URL=http://172.252.13.197:9777/api/v1
FLUTTER_SOCKET_URL=http://172.252.13.197:9777
LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_API_SECRET=your_livekit_api_secret_here
APP_ENV=production
#-----------------app end----------------


#-----------------frontend start----------------
NEXT_PUBLIC_BASE_URL=http://172.252.13.197:9777/api/v1
NEXT_PUBLIC_API_URL=http://172.252.13.197:9777/api/v1
NEXT_PUBLIC_SOCKET_URL=http://172.252.13.197:9777
HOST_ADMIN_PORT=8777
#-----------------frontend end----------------


#-----------------backend start----------------
NODE_ENV=production
PORT=5000
HOST_API_PORT=9777
IP_ADDRESS=0.0.0.0
PROJECT_NAME=Govia
ENABLE_API_DOCS=true

# Database (MongoDB)
MONGO_INITDB_ROOT_USERNAME=goviaAdmin
MONGO_INITDB_ROOT_PASSWORD=your_mongodb_root_password_here
MONGO_INITDB_DATABASE=govia-db
DATABASE_URL=mongodb://goviaAdmin:your_mongodb_root_password_here@adnan-govia-mongo:27017/govia-db?authSource=admin

# Security & Auth
BCRYPT_SALT_ROUNDS=10
JWT_SECRET=replace_with_super_secure_jwt_access_secret_64_characters
JWT_EXPIRE_IN=1h
JWT_REFRESH_SECRET=replace_with_super_secure_jwt_refresh_secret_64_characters
JWT_REFRESH_EXPIRE_IN=7d

# Super Admin Initial Credentials
SUPER_ADMIN_EMAIL=admin@govia.com
SUPER_ADMIN_PASSWORD=your_admin_password_here

# AI Integration (OpenRouter)
AI_PROVIDER_BASE_URL=https://openrouter.ai/api/v1
AI_API_KEY=your_openrouter_api_key_here
AI_MODEL_NAME=openrouter/free

# Email / SMTP (Gmail App Password)
EMAIL_FROM=adnan99mahmud@gmail.com
EMAIL_USER=adnan99mahmud@gmail.com
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_PASS=your_gmail_app_password_here

# AWS S3 Cloud Storage for Meeting Recordings (LiveKit Egress)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BUCKET=govia-meeting-recordings
AWS_REGION=us-east-1

S3_BUCKET=govia-meeting-recordings
S3_REGION=us-east-1
S3_ACCESS_KEY=your_aws_access_key_id
S3_SECRET_KEY=your_aws_secret_access_key
S3_ENDPOINT=
#-----------------backend end----------------
